.gdbhistory
*.pyc
*.swp
*~
*.orig
\#*#
log
d_feet.egg-info/
test/
dist/
build/
build-aux/
*.tar.bz2
*.tar.xz
ABOUT-NLS
data/d-feet.desktop
data/d-feet.desktop.in
data/org.gnome.d-feet.gschema.valid
data/d-feet.appdata.xml
help/??/*.mo
help/??/*.page
help/??/*.stamp
missing
po/.intltool-merge-cache
po/POTFILES
po/Rules-quot
po/boldquot.sed
po/d-feet.pot
po/en@boldquot.header
po/en@quot.header
po/insert-header.sin
po/quot.sed
po/remove-potcdate.sin
po/stamp-it
po/*.gmo
py-compile
src/d-feet
src/tests/tests.py
test-driver
