.gdbhistory
*.pyc
*.swp
*~
*.orig
\#*#
log
d_feet.egg-info/
test/
dist/
build/
Makefile
Makefile.in
Makefile.in.in
*.tar.bz2
*.tar.xz
ABOUT-NLS
aclocal.m4
autom4te.cache/
config.guess
config.log
config.rpath
config.status
config.sub
configure
data/d-feet.desktop
data/d-feet.desktop.in
data/org.gnome.d-feet.gschema.valid
install-sh
m4/
missing
po/.intltool-merge-cache
po/Makevars.template
po/POTFILES
po/Rules-quot
po/boldquot.sed
po/d-feet.pot
po/en@boldquot.header
po/en@quot.header
po/insert-header.sin
po/quot.sed
po/remove-potcdate.sin
po/stamp-it
py-compile
src/d-feet
