include AUTHORS COPYING NEWS 
recursive-include ui *.ui *.desktop
recursive-include icons *.png *.svg
recursive-include locale */LC_MESSAGES/dfeet.mo
recursive-include help *.omf *.xml *.png
prune locale/src

